rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  	allow read, write: if false;

    match /users/{userId}/pieces/{pieceId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      match /practices/{practiceId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /sections/{sectionId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }

    match /users/{userId}/techniques/{techniqueId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}