@import "tailwindcss";
@import "nativewind/theme";

html,
body,
#root {
	background-color: #fffbfe;
	height: 100%;
	overflow: hidden;
}

@media (prefers-color-scheme: dark) {
	html,
	body,
	#root {
		background-color: #1c1b1f;
	}
}
